<h4>Categorias</h4>
{{#each categorias}}
<div class="card mt-4">
    <div class="card-body">
        <h5>{{nome}}</h5>
        <a href="/categorias/{{slug}}">
            <button class="btn btn-success mt-2">Ver postagens</button>
        </a>
        
    </div>
</div>
{{else}}
    <h4 class="mt-3">Nenhuma categoria registrada.</h4>
{{/each}}