<div class="card">
    <div class="card-header">
        <h4 class="text-center mt-1">Login</h4>
    </div>
    <div class="card-body">
        <form action="/users/login" method="POST">
            <label for="email">Email:</label>
            <input type="email" name="email" class="form-control mb-2" required>
            <label for="password">Password:</label>
            <input type="password" name="password" class="form-control mb-2" required>
            <button class="btn btn-success mt-2" type="submit">Login</button>
        </form>
    </div>
</div>